{% extends 'index.html' %} {% load static %} {% block title %} Office Fit | My Account | Change Password
{% endblock %} {% block content %}
<div class="cart-table-area section-padding-100 pt-5">
    <div class="container-fluid">
        {% include 'alert.html' %}
        <div class="row">
            {% include 'user-dashboard.html' %}
            <!--  -->
            <div class="col-12 col-lg-8 mt-5">
                <div class="card mt-5">
                    <div class="card-header bg-white">
                        <strong class="d-inline-block" style="color: #fbb710;">Change Your Password</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="{% url 'change-password' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="current_password">Current Password</label>
                                            <input type="password" name="current_password" id="" placeholder="Current Password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="new_password">New Password</label>
                                            <input type="password" name="new_password" id="" class="form-control" placeholder="Enter New Password" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="confirm_password">Confirm Password</label>
                                            <input type="password" name="confirm_password" id="" class="form-control" placeholder="Confirm New Password" required>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center my-3">
                                        <input type="submit" value="Change Password" class="btn amado-btn px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
