{% extends 'index.html' %} {% load static %} {% block title %} Office Fit | Edit
Address {% endblock %} {% block content %}

<div class="section-padding-100 clearfix pt-5">
    <div class="container-fluid">
        {% include 'alert.html' %}
        <div class="row">
            <div class="card col-12 mx-5">
                <form
                    method="POST"
                    class="card-body px-0 py-3"
                    style="font-size: 16px"
                >
                    {% csrf_token %}
                    <p class="text-uppercase text-sm text-center">
                        Edit Address
                    </p>

                    <div class="col-12 mb-5">
                        {% for field in form.visible_fields %}
                        <div class="form-group mb-4">
                            <label
                                for="example-text-input"
                                class="form-control-label mb-0"
                                >{{field.label_tag}}</label
                            >
                            {{field}}
                        </div>
                        {% endfor %}
                    </div>

                    <div
                        class="d-flex justify-content-center align-items-center"
                    >
                        <button
                            type="submit"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                        >
                            Save Address
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
